
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

    <!-- Navbar -->
    {% include 'navBar.html' %}

    <!-- Contenedor principal -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar (Aside) -->
            <div class="col-md-3 col-lg-2 bg-light p-0">
                {% include 'aside_2.html' %}
            </div>

            <!-- Main Content -->
            <main class="col-md-9 col-lg-10">
              <br>
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
