
{% extends 'base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}


  <section class="datos_generales bordes">
    <form action="">
      <h3>datos generales</h3>
      <p>apellido paterno <input type="text"></p>
      <p>apellido materno <input type="text"></p>
      <p>nombre <input type="text"></p>
      <p>fecha de nacimiento <input type="date"></p>
      <p>teléfono <input type="number"></p>
      <p>correo electronico <input type="email"></p>
      <p>motivo de consulta <input type="text"></p>
      <p>genero</p>
      <p><input type="radio" name="genero" value="f">femenino</p>
      <p><input type="radio" name="genero" value="m">masculino</p>
      <p>escolaridad <input type="text"></p>
      <h3>caracteristicas del paciente</h3>
      <p> <input type="checkbox" value="vegetariano">vegetariano</p>
      <p> <input type="checkbox" value="embarazo">embarazo</p>
      <p> <input type="checkbox" value="deportista">deportista</p>
      <p> <input type="checkbox" value="amayor">adulto mayor</p>
      <p> <input type="checkbox" value="pediatrico">pediatrico</p>
      <input type="submit" value="guardar">
    </form>
  </section>







  <section class="datos_generales bordes">
    <h3>antecedentes personales</h3>
    <p>ocupación <input type="text"></p>
    <p>signos y sintomas <input type="text"></p>
  </section>
    <table>
      <h3>alergias y toxicomanias</h3>
      <thead>
          <tr>
              <th>Indicador</th>
              <th>si/no</th>
              <th colspan="2">frecuencia</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>alcohol</p>
          </td>

          <td>
            <input type="checkbox" value="1">
          </td>
          <td>
            <p><input type="number">veces</p>
          </td>
          <td>
            <select name="" id="">
              <option value="nunca">nunca</option>
              <option value="diario">diario</option>
              <option value="semana">semana</option>
              <option value="mes">mes</option>
              <option value="año">año</option>

            </select>
          </td>
        </tr>
        <tr>
          <td>
            <p>tabaco</p>
          </td>

          <td>
            <input type="checkbox" value="1">
          </td>
          <td>
            <p><input type="number">veces</p>
          </td>
          <td>
            <select name="" id="">
              <option value="nunca">nunca</option>
              <option value="diario">diario</option>
              <option value="semana">semana</option>
              <option value="mes">mes</option>
              <option value="año">año</option>

            </select>
          </tr>
        <tr>

          <td>
            <p><input type="text">otro</p>
          </td>

          <td>
            <input type="checkbox" value="1">
          </td>
          <td>
            <p><input type="number">veces</p>
          </td>
          <td>
            <select name="" id="">
              <option value="nunca">nunca</option>
              <option value="diario">diario</option>
              <option value="semana">semana</option>
              <option value="mes">mes</option>
              <option value="año">año</option>

            </select>
          </td>
        </tr>
      </tbody>
    </table>


  </section>


<form action="">
  <h3>bioquimicos</h3>
  <table>
    <thead>
        <tr>
            <th>Indicador</th>
            <th>Puntaje</th>
            <th>Normovalores</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
              <select name="" id="">
                <option value="glucosa">glucosa</option>
                <option value="nureico">Nitrogeno ureico</option>
                <option value="creatina">creatina</option>
                <option value="aurico">ácido úrico</option>
                <option value="colesterol total">coleterol</option>
                <option value="trigliceridos">trigliceridos</option>
              </select>
            </td>
            <td><input type="number"></td>
            <td></td>
        </tr>
        <tr>
          <td>
            <select name="" id="">
              <option value="glucosa">glucosa</option>
              <option value="nureico">Nitrogeno ureico</option>
              <option value="creatina">creatina</option>
              <option value="aurico">ácido úrico</option>
              <option value="colesterol total">coleterol</option>
              <option value="trigliceridos">trigliceridos</option>
            </select>
          </td>
          <td><input type="number"></td>
          <td></td>
        </tr>
      <tr>
        <td>
          <select name="" id="">
            <option value="glucosa">glucosa</option>
            <option value="nureico">Nitrogeno ureico</option>
            <option value="creatina">creatina</option>
            <option value="aurico">ácido úrico</option>
            <option value="colesterol total">coleterol</option>
            <option value="trigliceridos">trigliceridos</option>
          </select>
        </td>
        <td><input type="number"></td>
        <td></td>
    </tr>
    <tr>
      <td>
        <select name="" id="">
          <option value="glucosa">glucosa</option>
          <option value="nureico">Nitrogeno ureico</option>
          <option value="creatina">creatina</option>
          <option value="aurico">ácido úrico</option>
          <option value="colesterol total">coleterol</option>
          <option value="trigliceridos">trigliceridos</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td></td>
  </tr>
  <tr>
    <td>
      <select name="" id="">
        <option value="glucosa">glucosa</option>
        <option value="nureico">Nitrogeno ureico</option>
        <option value="creatina">creatina</option>
        <option value="aurico">ácido úrico</option>
        <option value="colesterol total">coleterol</option>
        <option value="trigliceridos">trigliceridos</option>
      </select>
    </td>
    <td><input type="number"></td>
    <td></td>
</tr>

</table>
</form>
<h3>antecedentes patologicos</h3>
<h5>lea la enfermedad y pregunte al paciente si la ha padecido o alguno de sus antecesores</h5>

  <section class="datos_generales bordes">
    <form action="">
      <table>
        <tr>
          <th>enfermedad</th>
          <th>Paciente</th>
          <th>Padre</th>
          <th>Madre</th>
          <th>Abuelos paternos</th>
          <th>Abuelos maternos</th>
          <th>Hermanos</th>
        </tr>
        <tr>
          <td>Diabetes</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Hipertensión</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Colesterolemia</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>

        </tr>
        <tr>
          <td>Trigliceridemia</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>

        </tr>
        <tr>
          <td>Obesidad</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Cáncer</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Anemia</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Hepatopatías</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>

          <td>Osteoporosis</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Nefropatías</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Hipotiroidismo</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Hipertiroidismo</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Cardiovascular</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td><input type="text">otra</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
        </tr>
    </form>



<script>
  const toggleButton = document.getElementById("toggleButton");
  const sidebar = document.querySelector(".sidebar");

  toggleButton.addEventListener("click", () => {
      sidebar.classList.toggle("collapsed");
  });
</script>
{% endblock %}
