{% extends 'base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}
<main>
  <table>
    <thead>
        <tr>
            <th colspan="2">Grupo de Alimentos</th>
            <th>Equivalentes</th>
            <th>Energía</th>
            <th>H de C</th>
            <th>Proteína</th>
            <th>Lípidos</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td colspan="2">verduras</td>

            <td><input type="number" oninput="verduras()" min="0" id = "equiVer"></td>
            <td id="v_ene">...</td>
            <td id="v_hdc">...</td>
            <td id="v_pro">...</td>
            <td id="v_lip">...</td>


        </tr>

        <tr>
            <td colspan="2">frutas</td>
            <td><input type="number" oninput="frutas()" min="0" id = "equiFru"></td>
            <td id="f_ene">...</td>
            <td id="f_hdc">...</td>
            <td id="f_pro">...</td>
            <td id="f_lip">...</td>

        </tr>

        <tr>
            <td rowspan="2">cereales</td>
            <td><p>sin grasa</p></td>
            <td><input type="number" oninput="cereales('equiCsg', 'csg_ene', 'csg_hdc', 'csg_pro', 'csg_lip')" min="0" id="equiCsg"></td>
            <td id="csg_ene">...</td>
            <td id="csg_hdc">...</td>
            <td id="csg_pro">...</td>
            <td id="csg_lip">...</td>
        </tr>

        <tr>

            <td><p>con grasa</p></td>
            <td><input type="number" oninput="cereales('equiCg', 'ccg_ene', 'ccg_hdc', 'ccg_pro', 'ccg_lip')" min="0" id="equiCg"></td>
            <td id="ccg_ene">...</td>
            <td id="ccg_hdc">...</td>
            <td id="ccg_pro">...</td>
            <td id="ccg_lip">...</td>           
        </tr>
        <tr>
            <td colspan="2">leguminosas</td>
            <td><input type="number" oninput="leguminosas()" min="0" id = "equiLeg"></td>
            <td id="leg_ene">...</td>
            <td id="leg_hdc">...</td>
            <td id="leg_pro">...</td>
            <td id="leg_lip">...</td>

        </tr>
        <tr>
            <td rowspan="4">alimento de origen animal</td>
            <td><p>muy bajo en grasa</p></td>
            <td><input type="number" oninput="aoa('equiAoa', 'aoamb_ene', 'aoamb_hdc', 'aoamb_pro', 'aoamb_lip')" min="0" id="equiAoa"></td>
            <td id="aoamb_ene">...</td>
            <td id="aoamb_hdc">...</td>
            <td id="aoamb_pro">...</td>
            <td id="aoamb_lip">...</td>

        </tr>
        <tr>
            <td><p>bajo en grasa en grasa</p></td>
            <td><input type="number" oninput="aoa('equiAoaB', 'aoab_ene', 'aoab_hdc', 'aoab_pro', 'aoab_lip')" min="0" id="equiAoaB"></td>
            <td id="aoab_ene">...</td>
            <td id="aoab_hdc">...</td>
            <td id="aoab_pro">...</td>
            <td id="aoab_lip">...</td>

        </tr>
        <tr>
            <td><p>moderado en grasa</p></td>
            <td><input type="number" oninput="aoa('equiAoaM', 'aoam_ene', 'aoam_hdc', 'aoam_pro', 'aoam_lip')" min="0" id="equiAoaM"></td>
            <td id="aoam_ene">...</td>
            <td id="aoam_hdc">...</td>
            <td id="aoam_pro">...</td>
            <td id="aoam_lip">...</td>

        </tr>

        <tr>
            <td><p>alto en grasa</p></td>
            <td><input type="number" oninput="aoa('equiAoaA', 'aoaa_ene', 'aoaa_hdc', 'aoaa_pro', 'aoaa_lip')" min="0" id="equiAoaA"></td>
            <td id="aoaa_ene">...</td>
            <td id="aoaa_hdc">...</td>
            <td id="aoaa_pro">...</td>
            <td id="aoaa_lip">...</td>
        </tr>

        <tr>
            <td rowspan="4">leche </td>
            <td><p>descremada</p></td>
            <td><input type="number" oninput="leche('equiLecheDes', 'lechedes_ene', 'lechedes_hdc', 'lechedes_pro', 'lechedes_lip')" min="0" id="equiLecheDes"></td>
            <td id="lechedes_ene">...</td>
            <td id="lechedes_hdc">...</td>
            <td id="lechedes_pro">...</td>
            <td id="lechedes_lip">...</td>

        </tr>
        <tr>
            <td><p>semidescremada</p></td>
            <td><input type="number" oninput="leche('equiLecheSem', 'lechesem_ene', 'lechesem_hdc', 'lechesem_pro', 'lechesem_lip')" min="0" id="equiLecheSem"></td>
            <td id="lechesem_ene">...</td>
            <td id="lechesem_hdc">...</td>
            <td id="lechesem_pro">...</td>
            <td id="lechesem_lip">...</td>

        </tr>
        <tr>

            <td><p>entera</p></td>
            <td><input type="number" oninput="leche('equiLecheEnt', 'lecheent_ene', 'lecheent_hdc', 'lecheent_pro', 'lecheent_lip')" min="0" id="equiLecheEnt"></td>
            <td id="lecheent_ene">...</td>
            <td id="lecheent_hdc">...</td>
            <td id="lecheent_pro">...</td>
            <td id="lecheent_lip">...</td>

        </tr>
        <tr>
            <td><p>con azúcar</p></td>
            <td><input type="number" oninput="leche('equiLecheCaz', 'lechecaz_ene', 'lechecaz_hdc', 'lechecaz_pro', 'lechecaz_lip')" min="0" id="equiLecheCaz"></td>
            <td id="lechecaz_ene">...</td>
            <td id="lechecaz_hdc">...</td>
            <td id="lechecaz_pro">...</td>
            <td id="lechecaz_lip">...</td>

        </tr>

        <tr>
            <td rowspan="2">aceites y grasas</td>
            <td><p>sin proteina</p></td>
            <td><input type="number" oninput="aceite('equiAceitesSp', 'aceitesp_ene', 'aceitesp_hdc', 'aceitesp_pro', 'aceitesp_lip')" min="0" id="equiAceitesSp"></td>
            <td id="aceitesp_ene">...</td>
            <td id="aceitesp_hdc">...</td>
            <td id="aceitesp_pro">...</td>
            <td id="aceitesp_lip">...</td>

        </tr>
        <tr>
            <td><p>con proteina</p></td>
            <td><input type="number" oninput="aceite('equiAceitesCp', 'aceitecp_ene', 'aceitecp_hdc', 'aceitecp_pro', 'aceitecp_lip')" min="0" id="equiAceitesCp"></td>
            <td id="aceitecp_ene">...</td>
            <td id="aceitecp_hdc">...</td>
            <td id="aceitecp_pro">...</td>
            <td id="aceitecp_lip">...</td>

        </tr>

        <tr>
            <td rowspan="2">azúcares</td>
            <td><p>sin grasa</p></td>
            <td><input type="number" oninput="azucar('equiAzucarSg', 'azucarsg_ene', 'azucarsg_hdc', 'azucarsg_pro', 'azucarsg_lip')" min="0" id="equiAzucarSg"></td>
            <td id="azucarsg_ene">...</td>
            <td id="azucarsg_hdc">...</td>
            <td id="azucarsg_pro">...</td>
            <td id="azucarsg_lip">...</td>

        </tr>
        <tr>
            <td><p>con grasa</p></td>
            <td><input type="number" oninput="azucar('equiAzucarCg', 'azucarcg_ene', 'azucarcg_hdc', 'azucarcg_pro', 'azucarcg_lip')" min="0" id="equiAzucarCg"></td>
            <td id="azucarcg_ene">...</td>
            <td id="azucarcg_hdc">...</td>
            <td id="azucarcg_pro">...</td>
            <td id="azucarcg_lip">...</td>

        </tr>
        <tr>
            <td colspan="2"><p>alcohol</p></td>
            <td><input type="number" oninput="alcohol()" min="0" id = "equiAlcohol"></td>
            <td id="alcohol_ene">...</td>
            <td id="alcohol_hdc">...</td>
            <td id="alcohol_pro">...</td>
            <td id="alcohol_lip">...</td>

        </tr>

      <tr>
            <td colspan="3">total</td>
            <td id="total_ene">...</td>
            <td id="total_hdc">...</td>
            <td id="total_pro">...</td>
            <td id="total_lip">...</td>


        </tr>
        <tr>
            <td colspan="3">recomendación</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>

        </tr>
        <tr>
            <td colspan="3">% de adecuación</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>

        </tr>
    </tbody>
    </table>

<h3>dieta</h3>

<table>

    <thead>
        <tr>
            <th colspan="2">alimento\comida</th>
            <th>desayuno</th>
            <th>colacion 1</th>
            <th>comida</th>
            <th>colacion 2</th>
            <th>cena</th>
            <th>total  de equivalentes</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td colspan="2">verduras</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        <tr>
            <td colspan="2">frutas</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td rowspan="2"><p>cereales </p></td>
            <td><p>sin grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

        <tr>

            <td><p>con grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td colspan="2">leguminosas</td>

            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td rowspan="4">alimento de origen animal</td>
            <td><p>muy bajo en grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>bajo en grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td><p>moderado en grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td><p>alto en grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

        <tr>
            <td rowspan="4">leche </td>
            <td><p>descremada</p></td>

            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>semidescremada</p></td>

            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>

            <td><p>entera</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>con azúcar</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

        <tr>
            <td rowspan="2">aceites y grasas</td>
            <td><p>sin proteina</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>con proteina</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

        <tr>
            <td rowspan="2">azúcares</td>
            <td><p>sin grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>con grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td colspan="2"><p>alcohol</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

    </tbody>
</table>
</main>

<script>
    
    function verduras(){
        const equivalentesTotales = parseFloat(document.getElementById("equiVer").value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById("v_ene").textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById("v_hdc").textContent = hdc.toFixed(2);
        
        const proteina = (equivalentesTotales * 3);
        document.getElementById("v_pro").textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById("v_lip").textContent = lipidos.toFixed(2);
    }

    function frutas(){
        const equivalentesTotales = parseFloat(document.getElementById("equiFru").value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById("f_ene").textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById("f_hdc").textContent = hdc.toFixed(2);
        
        const proteina = (equivalentesTotales * 3);
        document.getElementById("f_pro").textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById("f_lip").textContent = lipidos.toFixed(2);
    }

    function cereales(inputId, energiaId, hdcId, proteinaId, lipidosId) {
        const equivalentesTotales = parseFloat(document.getElementById(inputId).value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById(energiaId).textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById(hdcId).textContent = hdc.toFixed(2);

        const proteina = (equivalentesTotales * 3);
        document.getElementById(proteinaId).textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById(lipidosId).textContent = lipidos.toFixed(2);
    }

    function leguminosas(){
        const equivalentesTotales = parseFloat(document.getElementById("equiLeg").value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById("leg_ene").textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById("leg_hdc").textContent = hdc.toFixed(2);
        
        const proteina = (equivalentesTotales * 3);
        document.getElementById("leg_pro").textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById("leg_lip").textContent = lipidos.toFixed(2);
    }

    function aoa(inputId, energiaId, hdcId, proteinaId, lipidosId) {
        const equivalentesTotales = parseFloat(document.getElementById(inputId).value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById(energiaId).textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById(hdcId).textContent = hdc.toFixed(2);

        const proteina = (equivalentesTotales * 3);
        document.getElementById(proteinaId).textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById(lipidosId).textContent = lipidos.toFixed(2);
    }

    function leche(inputId, energiaId, hdcId, proteinaId, lipidosId) {
        const equivalentesTotales = parseFloat(document.getElementById(inputId).value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById(energiaId).textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById(hdcId).textContent = hdc.toFixed(2);

        const proteina = (equivalentesTotales * 3);
        document.getElementById(proteinaId).textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById(lipidosId).textContent = lipidos.toFixed(2);
    }

    function aceite(inputId, energiaId, hdcId, proteinaId, lipidosId) {
        const equivalentesTotales = parseFloat(document.getElementById(inputId).value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById(energiaId).textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById(hdcId).textContent = hdc.toFixed(2);

        const proteina = (equivalentesTotales * 3);
        document.getElementById(proteinaId).textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById(lipidosId).textContent = lipidos.toFixed(2);
    }

    function azucar(inputId, energiaId, hdcId, proteinaId, lipidosId) {
        const equivalentesTotales = parseFloat(document.getElementById(inputId).value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById(energiaId).textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById(hdcId).textContent = hdc.toFixed(2);

        const proteina = (equivalentesTotales * 3);
        document.getElementById(proteinaId).textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById(lipidosId).textContent = lipidos.toFixed(2);
    }

    function alcohol(){
        const equivalentesTotales = parseFloat(document.getElementById("equiAlcohol").value) || 0;

        const energia = (equivalentesTotales * 5);
        document.getElementById("alcohol_ene").textContent = energia.toFixed(2);

        const hdc = (equivalentesTotales * 4);
        document.getElementById("alcohol_hdc").textContent = hdc.toFixed(2);
        
        const proteina = (equivalentesTotales * 3);
        document.getElementById("alcohol_pro").textContent = proteina.toFixed(2);

        const lipidos = (equivalentesTotales * 2);
        document.getElementById("alcohol_lip").textContent = lipidos.toFixed(2);
    }

</script>


{% endblock %}
