{% extends 'base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}
<main>
  <table>
    <thead>
        <tr>
            <th colspan="2">Grupo de Alimentos</th>
            <th>Equivalentes</th>
            <th>Energía</th>
            <th>H de C</th>
            <th>Proteína</th>
            <th>Lípidos</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td colspan="2">verduras</td>

            <td><input type="number" oninput="verduras(this)" min="0"></td>
            <td id="v_ene">...</td>
            <td id="v_hdc">...</td>
            <td id="v_pro">...</td>
            <td id="v_lip">...</td>


        </tr>

        <tr>
            <td colspan="2">frutas</td>
            <td><input type="number" oninput="frutas(this)" min="0"></td>
            <td id="f_ene">...</td>
            <td id="f_hdc">...</td>
            <td id="f_pro">...</td>
            <td id="f_lip">...</td>

        </tr>

        <tr>
            <td rowspan="2">cereales</td>
            <td><p>sin grasa</p></td>
            <td><input type="number" oninput="cereales_sg(this)" min="0"></td>
            <td id="csg_ene">...</td>
            <td id="csg_hdc">...</td>
            <td id="csg_pro">...</td>
            <td id="csg_lip">...</td>

        </tr>

        <tr>

            <td><p>con grasa</p></td>
            <td><input type="number" oninput="cereales_cg(this)" min="0"></td>
            <td id="ccg_ene">...</td>
            <td id="ccg_hdc">...</td>
            <td id="ccg_pro">...</td>
            <td id="ccg_lip">...</td>

        </tr>
        <tr>
            <td colspan="2">leguminosas</td>
            <td><input type="number" oninput="leguminosas(this)" min="0"></td>
            <td id="leg_ene">...</td>
            <td id="leg_hdc">...</td>
            <td id="leg_pro">...</td>
            <td id="leg_lip">...</td>

        </tr>
        <tr>
            <td rowspan="4">alimento de origen animal</td>
            <td><p>muy bajo en grasa</p></td>
            <td><input type="number" oninput="aoa_mb(this)" min="0"></td>
            <td id="aoamb_ene">...</td>
            <td id="aoamb_hdc">...</td>
            <td id="aoamb_pro">...</td>
            <td id="aoamb_lip">...</td>

        </tr>
        <tr>
            <td><p>bajo en grasa en grasa</p></td>
            <td><input type="number" oninput="aoa_b(this)" min="0"></td>
            <td id="aoab_ene">...</td>
            <td id="aoab_hdc">...</td>
            <td id="aoab_pro">...</td>
            <td id="aoab_lip">...</td>

        </tr>
        <tr>
            <td><p>moderado en grasa</p></td>
            <td><input type="number" oninput="aoa_m(this)" min="0"></td>
            <td id="aoam_ene">...</td>
            <td id="aoam_hdc">...</td>
            <td id="aoam_pro">...</td>
            <td id="aoam_lip">...</td>

        </tr>

        <tr>
            <td><p>alto en grasa</p></td>
            <td><input type="number" oninput="aoa_a(this)" min="0"></td>
            <td id="aoaa_ene">...</td>
            <td id="aoaa_hdc">...</td>
            <td id="aoaa_pro">...</td>
            <td id="aoaa_lip">...</td>
        </tr>

        <tr>
            <td rowspan="4">leche </td>
            <td><p>descremada</p></td>
            <td><input type="number" oninput="lechedes(this)" min="0"></td>
            <td id="lechedes_ene">...</td>
            <td id="lechedes_hdc">...</td>
            <td id="lechedes_pro">...</td>
            <td id="lechedes_lip">...</td>

        </tr>
        <tr>
            <td><p>semidescremada</p></td>
            <td><input type="number" oninput="lechesem(this)" min="0"></td>
            <td id="lechesem_ene">...</td>
            <td id="lechesem_hdc">...</td>
            <td id="lechesem_pro">...</td>
            <td id="lechesem_lip">...</td>

        </tr>
        <tr>

            <td><p>entera</p></td>
            <td><input type="number" oninput="lecheent(this)" min="0"></td>
            <td id="lecheent_ene">...</td>
            <td id="lecheent_hdc">...</td>
            <td id="lecheent_pro">...</td>
            <td id="lecheent_lip">...</td>

        </tr>
        <tr>
            <td><p>con azúcar</p></td>
            <td><input type="number" oninput="lechecaz(this)" min="0"></td>
            <td id="lechecaz_ene">...</td>
            <td id="lechecaz_hdc">...</td>
            <td id="lechecaz_pro">...</td>
            <td id="lechecaz_lip">...</td>

        </tr>

        <tr>
            <td rowspan="2">aceites y grasas</td>
            <td><p>sin proteina</p></td>
            <td><input type="number" oninput="aceitessp(this)" min="0"></td>
            <td id="aceitesp_ene">...</td>
            <td id="aceitesp_hdc">...</td>
            <td id="aceitesp_pro">...</td>
            <td id="aceitesp_lip">...</td>

        </tr>
        <tr>
            <td><p>con proteina</p></td>
            <td><input type="number" oninput="aceitescp(this)" min="0"></td>
            <td id="aceitecp_ene">...</td>
            <td id="aceitecp_hdc">...</td>
            <td id="aceitecp_pro">...</td>
            <td id="aceitecp_lip">...</td>

        </tr>

        <tr>
            <td rowspan="2">azúcares</td>
            <td><p>sin grasa</p></td>
            <td><input type="number" oninput="azucarsg(this)" min="0"></td>
            <td id="azucarsg_ene">...</td>
            <td id="azucarsg_hdc">...</td>
            <td id="azucarsg_pro">...</td>
            <td id="azucarsg_lip">...</td>

        </tr>
        <tr>
            <td><p>con grasa</p></td>
            <td><input type="number" oninput="azucarcg(this)" min="0" ></td>
            <td id="azucarcg_ene">...</td>
            <td id="azucarcg_hdc">...</td>
            <td id="azucarcg_pro">...</td>
            <td id="azucarcg_lip">...</td>

        </tr>
        <tr>
            <td colspan="2"><p>alcohol</p></td>
            <td><input type="number" min="0"></td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>

        </tr>

      <tr>
            <td colspan="3">total</td>
            <td id="totalene">...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>


        </tr>
        <tr>
            <td colspan="3">recomendación</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>

        </tr>
        <tr>
            <td colspan="3">% de adecuación</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>

        </tr>
    </tbody>
    </table>

<h3>dieta</h3>

<table>

    <thead>
        <tr>
            <th colspan="2">alimento\comida</th>
            <th>desayuno</th>
            <th>colacion 1</th>
            <th>comida</th>
            <th>colacion 2</th>
            <th>cena</th>
            <th>total  de equivalentes</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td colspan="2">verduras</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        <tr>
            <td colspan="2">frutas</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td rowspan="2"><p>cereales </p></td>
            <td><p>sin grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

        <tr>

            <td><p>con grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td colspan="2">leguminosas</td>

            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td rowspan="4">alimento de origen animal</td>
            <td><p>muy bajo en grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>bajo en grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td><p>moderado en grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>

        <tr>
            <td><p>alto en grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

        <tr>
            <td rowspan="4">leche </td>
            <td><p>descremada</p></td>

            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>semidescremada</p></td>

            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>

            <td><p>entera</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>con azúcar</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

        <tr>
            <td rowspan="2">aceites y grasas</td>
            <td><p>sin proteina</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>con proteina</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

        <tr>
            <td rowspan="2">azúcares</td>
            <td><p>sin grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td><p>con grasa</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>
        <tr>
            <td colspan="2"><p>alcohol</p></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>

        </tr>

    </tbody>
</table>
</main>
{% endblock %}
