<nav>
  <div class="navbar-contenido">

    <div class="navegacion__usuario">
      {% if user.id is None %}

        <span>Bienvenido visitante!</span>
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Registrar</a>
      {% else %}
      <ul class="navegacion__menu">
        <li class="navegacion__enlace"><a href="{% url 'lista_pacientes' %}">Paciente</a></li>
        <li class="navegacion__enlace"><a href="{% url 'consultar' %}">Consultar Info</a></li>
        <li class="navegacion__enlace"><a href="#">Agenda</a></li>
        <li class="navegacion__enlace"><a href="#">Ayuda</a></li>
        <li class="navegacion__enlace"><a href="#">Acerca de</a></li>
      
        <li class="navegacion__usuario"> <span>Bienvenido {{ user.first_name }}</span></li>
        <li class="navegacion__usuario"> <a href="{% url 'logout' %}">Cerrar sesión</a></li>
      </ul>
      {% endif %}
    </div>

  </div>
</nav>

