{% extends 'base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}
<main>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Nombre del paciente</h2>
        <p>cantidad de consultas</p>
        <p><a class="btn btn-secondary" href="#">Nueva consulta</a></p>
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
</main>
{% endblock %}
