{% extends 'base_pacientes.html' %}
{% block title %}Lista de Pacientes{% endblock %}

{% block content %}
<h2>Lista de Pacientes</h2>

<a href="{% url 'crear_paciente' %}" class="btn btn-primary">Nuevo Paciente</a>
<form method="GET" class="mb-4">
    <div class="input-group">
        <input type="text" name="q" value="{{ query|default_if_none:'' }}" class="form-control" placeholder="Buscar por nombre, apellido o email">

      <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </div>
  </form>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% if pacientes %}
        {% for paciente in pacientes %}
        <tr>
          <td>{{ paciente.nombre }} {{ paciente.apellido_paterno }}</td>
          <td>{{ paciente.telefono }}</td>
          <td>{{ paciente.email }}</td>
          <td>
            <a href="{% url 'editar_paciente' paciente.id %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'eliminar_paciente' paciente.id %}" class="btn btn-danger btn-sm">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4" class="text-center text-muted">No se encontraron pacientes con ese criterio.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
